@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --black: #161716;
  --gray: #7f8680;
  --white: #e6ede7;
  --clear: transparent;

  --btn-color:#b6c4b6;
  --btn-gradient-dk:#6b6e6b;
  --btn-gradient-lt: #b9c4b9;
  
  --day-sky: #1288c8;
  --overcast-sky: #545759;
  --night-sky: #0d151b;
  --day-overcast-sky: #62747e;
  --night-overcast-sky: #20272b;

  --very-cold: #64a7f4;
  --cold: #a6c1f2;
  --mild: #bef2b3;
  --warm: #f0ef9e;
  --hot: #f0af76;
  --very-hot: #f07d7d;

  --water: #85cfe7;
  --air: #a8bc8d;
  --sun: #dcc86c;
  --moon: #8b74a8;

  --day: #eae6d7;
  --dawn: #e7ca47;
  /* --night: #011118;
  --dusk: #264850; */
  --dusk: #495c6d;
  --night: #2f4a79;

  --day-time: linear-gradient(to bottom right, var(--day), var(--dawn));
  --night-time: linear-gradient(to bottom right, var(--dusk), var(--night));

  --alert: #7e0a0a;

  --font-hand: "Caveat", cursive;
  --font-sans: "Josefin Sans", sans-serif;
  --btn-size-h: 2.75rem;
  --btn-transition: background-color 0.5s, transform 0.3s;
  --box-shadow: 0 4px 8px var(--black);
  --dashed-border: 1px dashed var(--white);
  --rem-pt50: 0.50rem;
  --rem-py25: 0.25rem;
  /* --width: 325px; */
    --width: 100vw;
}

* {
  box-sizing: border-box;
  /* border: 1px dashed red; */
  /* KEEP ABOVE: USE FOR TESTS */
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--gray);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


/* HEADER */

#header {}


/* ---> TITLE-CONTENT */

#title-content {
  width: var(--width);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin: auto;
}

#title-img-div {
  display: flex;
    justify-content: center;
    align-items: center;
}

#title-text {
  color: var(--black);
  font-family: var(--font-hand);
  font-size: 2.25rem;
}

#title-img1, #title-img2 {
  height: 2rem;
  width: auto;
}

@keyframes spin-ud {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.spin-ud {
  animation: spin-ud 0.5s ease;
}

@keyframes spin-lr {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

.spin-lr {
  animation: spin-lr 0.5s linear;
}

#MMM {
  font-family: var(--font-hand);
  font-size: 1rem;
  margin-top: -0.5rem;
  margin-bottom: .25rem;
  text-align: center;
}


/* ---> SEARCH-CONTENT */

#search-content {
  width: var(--width);
  display: flex;
    justify-content: center;
    align-items: center;
  margin: auto;
  padding: 0;
}

#search-input,
#search-btn {
  height: 2rem;
  font-family: var(--font-sans);
  font-size: 1rem;
  padding: 0.5rem;
}

#search-input {
  background-color: var(--white);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid var(--btn-color);
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  outline: none;
}

#search-btn {
  width: fit-content;
  background-color: var(--btn-color);
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: var(--box-shadow);
  color: var(--black);
  cursor: pointer;
  transition: var(--btn-transition);
}

#search-btn:hover {
  transform: translateX(2.5px);
}

#search-btn:active {
  transform: translateX(0);
}


/* ---> MAIN-BTN-CONTENT */

#btn-content {
  width: var(--width);
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.2rem;
  margin: auto;
  padding: .75rem;
}


/* DATA-CONTENT */

#data-content {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin: auto;
}

/* ---> LOCATION-CONTENT */

#location-content {
  width: var(--width);
  background-color: var(--black);
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;  */
  box-shadow: var(--box-shadow);
  color: var(--white);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  font-family: var(--font-sans);
  line-height: 1.15;
  padding: .5rem;
}

#location-name {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

#resolved-address {
  font-size: 1rem;
  text-align: center;
}

#location-lat-lon-div {
  display: flex;
    justify-content: center;
    align-items: center;
}

#weather-btn-cont {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4.2rem;
  font-family: var(--font-sans);
  margin: auto;
  padding-top: .5rem;
}


/* ---> WEATHER-CONTENT */

#weather-content {
  width: var(--width);
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  box-shadow: var(--box-shadow);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  font-family: var(--font-sans);
  margin: auto;
  padding: .5rem;
}

#conditions-text, #last-update {
  text-transform: uppercase;
}

#conditions-text {
  font-size: 1.1rem;
  font-weight: 900;
}

#last-update {
  font-size: 0.8rem;
}

#weather-cont1 {
  height: fit-content;
  width: fit-content;
  display: flex;
    justify-content: center;
    align-items: center;
}

#weather-temperature-cont, #weather-icon-cont {
  height: 5.5rem;
  border: 0.125rem solid var(--black);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  margin: .25rem;
  outline: 1px solid var(--white);
  padding: .25rem;
}

#weather-temperature-cont {
  min-width: 5.5rem;
}

#weather-icon-cont {
  width: 5.5rem;
}

#weather-icon-img {
  height: 5.25rem;
  width: auto;
}

#weather-moisture-cont {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.333rem; 
}

#weather-cont2 {
  height: fit-content;
  border-radius: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.333rem;
  padding: 0.25rem;
}

#humidity-div,
#dew-point-div, 
#chance-of-precipitation-div,
#wind-info-div, 
#cloud-cover-div,
#uv-index-div, 
#sunrise-div,
#sunset-div,
#moon-phase-div 
{
  width: fit-content;
  background-color: var(--black);
  border: 0.125rem solid var(--black);
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  color: var(--white);
  display: flex;
    justify-content: center;
    align-items: center;
  outline: 1px solid var(--white);
}

#humidity-img, 
#dew-point-img,
#chance-of-precipitation-img, 
#wind-info-img,
#cloud-cover-img,
#uv-index-img,
#sunrise-img,
#sunset-img,
#moon-phase-img 
{
  height: 2.25rem;
  width: auto;
  border-radius: 50%;
}

#humidity-img, 
#dew-point-img,
#chance-of-precipitation-img 
{
  background-color: var(--water);
}

#wind-info-img,
#cloud-cover-img
{
  background-color: var(--air);
}

#uv-index-img,
#sunrise-img,
#sunset-img
{
  background-color: var(--sun);
}

#moon-phase-img 
{
  background-color: var(--moon);
}

#temperature-text {
  font-size: 2.25rem;
}

#feels-like-temperature-text {
  font-size: 1rem;
}

#humidity-text, 
#dew-point-text, 
#chance-of-precipitation-text, 
#win-info-text, 
#cloud-cover-text,
#uv-index-text, 
#sunrise-text,
#sunset-text,
#moon-phase-text 
{
  font-size: 1rem;
  padding: .25rem .5rem .25rem .25rem;
  text-align: left;
}


/* ROUND BUTTONS */

.round-btn {
  height: var(--btn-size-h);
  width: var(--btn-size-h);
  background-color: var(--btn-color);
  border: 0.125rem solid var(--black);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
    justify-content: center;
    align-items: center;
  outline: 1px solid var(--white);
  padding: .15rem;
  transition: var(--btn-transition);
}

.round-btn:hover {
  transform: scale(1.1);
}

.round-btn:active {
  transform: scale(0.9);
}

#world-btn {
  border: none;
}

#world-btn {
  padding: 0;
}

#temp-scale-img {
  height: 1.75rem;
  width: auto;
}

button:hover {
    background-image: linear-gradient(
    to bottom right,
    var(--btn-gradient-dk),
    var(--btn-gradient-lt)
  );
}

.invert {
  /* background-color: red;
  color: yellow; */
}